.character {
  display: flex;
  flex-direction: column;
  width: 430px;
  margin: 2rem auto;
}

.character img {
  border-radius: 10rem;
  border: 4px solid #ddd;
  margin: 0 auto;
}

.character h1 {
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.character dl dt {
  font-weight: bold;
}

.character dl dd {
  color: #999;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
